.root {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: #10B48E;
    -fx-text-fill: #ffffff;
}
img {
    max-width: 50%; /* Or your preferred size */
    height: auto;
}